<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>edu.upana.progra5.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJson</servlet-name>
        <servlet-class>ServletJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMultimedia</servlet-name>
        <servlet-class>ServletMultimedia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSetCookie</servlet-name>
        <servlet-class>ServletSetCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetCookie</servlet-name>
        <servlet-class>ServletGetCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>edu.upana.controller.ShoppingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servletupana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJson</servlet-name>
        <url-pattern>/ServletJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMultimedia</servlet-name>
        <url-pattern>/ServletMultimedia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSetCookie</servlet-name>
        <url-pattern>/ServletSetCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetCookie</servlet-name>
        <url-pattern>/ServletGetCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
